body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(118, 118, 118, 0.974);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login {

  text-align: center;

}

.register{
  text-align: center;
}
/* PLI stands for please log in header */
#PLI{
  text-align: center;
}
/* MAA stands for my amazing app header */
#MAA{
  text-align: center;
}